/**** DEFAULTS ****/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;  /* 1rem will equal this now */
    line-height: 1.6;
    font-family: sans-serif; /* add google fonts */
}

/**** PAGES ****/
.page{
    display: none;
    width: 100%;
    min-height: 100%; /* allow for content off the bottom of the page */
    position: fixed;  /* or absolute if the user needs to scroll for more content */
    /*padding: 1rem 2rem; */
}
.active{
    display: block;
}
/************************** Menu Page ***********************************/
#menu{
    background: linear-gradient(90deg, #626262 50%, #4e4e4e 50%);
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.leftright{
    flex: 50%;
    justify-content: center;
}
.text-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: white;
}

#calText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
}

.card{
    width: 400px;
    height: 500px;
    margin: auto;
    display: block;
    background-color: #252525;
    margin-top: 4%;
    border-radius: 50px;
    border: 0;
    transform-origin: bottom;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: bounce-2;
    animation-timing-function: ease;

}
.cardS{
    width: 270px;
    height: 180px;
    margin: auto;
    display: block;
    background-color: #252525;
    margin-top: 4%;
    border-radius: 50px;
    border: 0;
    transform-origin: bottom;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: bounce-2;
    animation-timing-function: ease;
}
.helpButton{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #252525;
    position:fixed;
    right: 5%;
    bottom: 5%;
    border: 0;
    font-size: 4rem;
    outline: none;
    color: #29aec9;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce-6;
    animation-timing-function: ease;
}
@keyframes bounce-2 {
    0%   { transform: translateY(0px); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}
@keyframes bounce-6 {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}
/************************** Play Page ***********************************/
#playDivider{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.controlsSection{
    display: flex;
    flex-flow: row;
    background-color: #5f5f5f;
    justify-content: space-around;
    height: 30vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    z-index:4;
    box-shadow: 5px 0 10px 1px black;
    padding-left: 15px;
    padding-right: 15px;
}

.controlCase{
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    overflow: hidden;
    width: auto;
    justify-content: space-around;
    background-color: #5f5f5f;
}

.upDownCase{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    z-index:1;
    height: 40%;
    width: 30vw;
    overflow: auto;
    background-color: #252525;
    flex-grow: 1;

    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    outline: none;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

.titleCase{
    display: block;
    flex-flow: column;
    z-index:1;
    height: 50%;
    width: 33vw;
    overflow: hidden;
    background-color: #252525;

    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 24px;
    text-align: center;
    outline: none;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

.backPlayPauseButton{
    display: flex;
    width: 30%;
    background-color: #5f5f5f;
    border-radius: 50px;
    border: 0;
    outline: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    padding-top: 5px;
    padding-bottom: 5px;
    flex-flow: row;
    justify-content: space-around;
    z-index:1;
    height: 40%;
    overflow: auto;
    flex-grow: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.ButtonPress{
    background-color: #f5f5f5;
}

.ButtonUnPress{
    background-color: #5f5f5f;
}

.controlButton{
    width: 15%;
    height: 100%;
    border: 0;
    z-index:1;
    display: flex;
    outline: none;
    border-radius: 50%;
    overflow: hidden;

    color: white;
    font-size: 4vw;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.upDownTextCase{
    display: flex;
    flex-flow: column;
    z-index:1;
    height: 100%;
    width: 40%;
    overflow: hidden;
    background-color: #252525;
    flex-grow: 1;
}

.centeredCase {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    z-index: 1;
    height: 40%;
    width: 30vw;
    overflow: auto;
    background-color: #252525;
    flex-grow: 1;

    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    outline: none;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

.controlsText{
    width: 100%;
    height: 100%;
    background-color: #252525;
    border: 0;
    z-index:1;
    display: flex;
    outline: none;
    color: white;
    font-size: 1.5vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.controlsTitleText{
    width: 100%;
    height: 100%;
    background-color: #252525;
    border: 0;
    z-index:1;
    display: flex;
    outline: none;
    color: white;
    font-size: 2.5vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.TitleText{
    width: 100%;
    height: 100%;
    background-color: #252525;
    border: 0;
    z-index:1;
    display: flex;
    outline: none;
    color: white;
    font-size: 1.5vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.noteSection{
    flex: 2 0 0;
    background-color: #252525;
    display: block;
    height: 70vh;
    z-index:4;
    box-shadow: 5px 0 10px 1px black;
    padding-left: 30px;
    padding-right: 30px;
}

/************************** Library Page ***********************************/
#libraryDivider{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#libraryFilter{
    flex: 2 0 0;
    background-color: #252525;
    display: block;
    height: 100vh;
    z-index:4;
    box-shadow: 5px 0 10px 1px black;
    padding-left: 15px;
    padding-right: 12px;
}
#libraryList{
    flex: 5 0 0;
    display: block;
    z-index:1;
    height: 100vh;
    overflow: auto;
    background-color: #252525;
}
.filterButton{
    width: 99%;
    background-color: #252525;
    border-radius: 50px;
    margin-top:30px;
    border: 0;
    outline: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

.backButton{
    width: 100px;
    background-color: #252525;
    border: 0;
    display: block;
    outline: none;
    left: 20px;
    bottom: 20px;
    position:fixed;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    border-radius: 50%;
}

.startButton{
    width: 200px;
    background-color: #3a893a;
    border-radius: 50px;
    border: 0;
    outline: none;
    position: absolute;
    bottom: 5px;
    left: 25vh;
    font-size: 60px;
    text-align: center;
    color: white;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: bounce-2;
    animation-timing-function: ease;
}
.textFilterButton{
    color: white;
    font-size: 6vh;
    text-align: right;
    width: 95%;
    margin-left:auto;
    margin-right:20px;
}
.listRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border: 0;
    outline: none;
}
.listColumn{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    font-size: 20px;
    color: white;
    text-align: center;

}
.doubleSpace{
    flex: 2;
}
.lessSpace{
    flex: 1;
}
.pad{
    padding-top: 15px;
    padding-bottom: 15px;
}
.headButton{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 24px;
    text-align: center;
    background-color: #252525;
    outline: none;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}
#head{
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #252525;
    box-shadow: 0 5px 10px 1px black;
}
.odd{
    background-color: #5f5f5f;
}
.even{
    background-color: #6f6f6f;
}

.layer{
    z-index: 2;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.Modal {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 990;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.5s;
    overflow: auto;
    transition: all 0.3s linear;
}

.Modal-content {
    background-color: #1b1b1b;
    width: 50vw;
    margin: 0 auto;
    height: 60vh;
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-name: bounce-2;
    animation-timing-function: ease;
}

.ModalOpen { overflow: hidden; }

.is-hidden { display: none; }

.is-visuallyHidden { opacity: 0; }

.Close {
    background-color: black;
    float: right;
    position: relative;
    height: 70px;
    width: 70px;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    outline: none;
    border: 0;
    z-index: 9999;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

.Close:hover, .Close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.is-blurred {
    filter: blur(10px);
    -webkit-filter: blur(10px);
}
body {
    background-color: #252525;
}

#popupHead{
    z-index: 9999;
    font-size: 5vh;
    padding-left : 5%;
    box-shadow: 0 5px 10px 1px black;
    background-color: #1b1b1b;
    color: white;
    border-radius: 50px 50px 0 0;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: blur_out;
    animation-fill-mode: forwards;
}
.helpButtonLibrary{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #252525;
    z-index: 9999;
    float: right;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: 0;
    font-size: 3rem;
    color: #29aec9;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: bounce-2;
    animation-timing-function: ease;
    outline: none;
}
#UploadInstruction{
    z-index: 9998;
    text-shadow: 0px 0px 10px #000000;
}

#my_file {
    display: none;
}

#get_file {
    background: #f9f9f9;
    border: 1px solid #88c;
    width: 100%;
    height: 6vh;
    border-radius: 50px;
}

#uploadContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 20px;  /* 1rem will equal this now */
    line-height: 1.6;
    font-family: sans-serif; /* add google fonts */
}
#customfileupload
{
    display: inline;
    background-color: #fff;
    font-size: 14px;
    padding: 10px 30px 10px 10px;
    width: 250px;
    border: 1px solid #999;
    box-shadow: inset 1px 1px 5px #ccc;
    -webkit-box-shadow: inset 1px 1px 5px #ccc;
    -moz-box-shadow: inset 0px 0px 4px #ccc;
    -ms-box-shadow: inset 0px 0px 4px #ccc;
    -o-box-shadow: inset 0px 0px 4px #ccc;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blurIn{
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: blur_in;
    animation-fill-mode: forwards;
}

.blurOut {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: blur_out;
    animation-fill-mode: forwards;
}
.popupContent{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    background-color: yellow;
    width: 80%;
    height: 6vh;
    border-radius: 50px;
}

.innerDivider{
    flex: 1;
    width: 50%;
}

.centerImage{
    display:block;
    margin:auto;
    overflow: hidden
}

@keyframes blur_in {
    0%      { -webkit-filter: blur(0px); opacity:1;}
    100%    { -webkit-filter: blur(10px); opacity:0.5;}
}

@keyframes blur_out {
    0%      { -webkit-filter: blur(10px); opacity: 0.5;}
    100%    { -webkit-filter: blur(0px);opacity: 1;}
}